.container{
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.form{
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ccc5b9;
    border: 3px solid #252422;
    border-radius:6px ;
    padding: 10px 16px 10px 16px;
    width: 450px;
}

.form h1{
    font-size: 2.5rem;
    color: #252422;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inputs{
    display: flex;
    flex-direction: column;
    
}

.inputs input{
    border-radius: 20px;
    margin-top: 15px;
    height: 40px;
    font-size: 1rem;
    background-color: #fffcf2;
    padding-left: 12px;
}

.inputs input::placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-btn{
    margin-top: 12px;
    margin-bottom: 12px;
}

.register-btn button{
    width: 100%;
    border-radius: 20px;
    height: 40px;
    color: #eb5e28;
    background-color: #403d39;
    border: none;
    font-size: 1rem;
}

.register-btn button:hover{
    cursor: pointer;
    background-color: #292725;
}

.user-info{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid #252422;
    border-radius:6px ;
    background-color: #ccc5b9;
    display: flex;
    flex-direction: row;
    width: 450px;
    justify-content: space-between;
    padding: 4px;
}

.user-data{
    display: flex;
    flex-direction: column;
}

.user-data h3{
    color: #252422;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 5px;
    font-size: 1.1rem;
}

.user-data h3 span{
    font-size: 1rem;
    margin-left: 4px;
    font-weight: 600;
}

.action-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.delete-btn , .update-btn{
    display: flex;
    justify-content: center;
    align-items: center;

}

.delete-btn button, .update-btn button{
    border: none;
    background-color: transparent;
}

.update-btn button i{
    color: #403d39;
    font-size: 1.3rem;
}

.update-btn button i:hover{
    color: #141312;
    cursor: pointer;
}

.delete-btn button i{
    color: #eb5e28;
    font-size: 2rem;
}

.delete-btn button i:hover{
    color: #a3431c;
    cursor: pointer;
}